.container {
    padding-right: 0;
    padding-left: 0;
    margin-top: 20px;
}

.row {

    margin-top: 0;
    margin-bottom: 0;
}
.column {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 150px;
}

.center {

    margin-top: 58px;
    margin-left: 40%;
       
}

.text {

    margin-top: 6%;
    margin-left: 28%;
}